{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Login</h1>
            </div>
        </div>
        {% if form.errors %}
            <div class="row">
                <div class="col">
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
            </div>
        {% endif %}
        {% if next %}
            <div class="row">
                <div class="col">
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input type="submit" class="btn btn-success" value="Login"/>
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}