{% extends 'base.html' %}

{% block title %}Employees{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Employee managment</h1>
            </div>
            {% if perms.employees.add_employee %}
                <div class="col-1">
                    <a href="{% url 'employees:add_employee' %}" class="btn btn-success">Add</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'employees:view_employee' employee.id %}">{{ employee.id }}</a>
                            </th>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>
                                {% if perms.employees.change_employee %}
                                    <a href="{% url "employees:edit_employee" employee.id %}" class="btn btn-primary">
                                        Edit
                                    </a>
                                {% endif %}
                                {% if perms.employees.delete_employee %}
                                    <a href="{% url 'employees:delete_employee' employee.id %}" class="btn btn-danger">
                                        Delete
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}